:root {
  --light-blue: #81B3D2;
  --basic-blue: #669EC0;
  --dark-blue: #5496BD;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --light-brown: #766357;
  --basic-brown: #604E43;
  --dark-bronw: #503E33;
  --basic-grey: #EEEEEE;
  --light-grey: #F2F2F2;
  --light-black: #333333;
  --extra-gray: #A9A9A9;
  --basic-dark: #666666;
  --basic-neutral: #E5E5E5;
  --button-blue: #88b6d1;
  --button-brown: #857871;
}

/* Global */

.page {
  width: 1280px;
  height: 100%;
  background-color: var(--light-grey);
  margin: auto;
}

body {
  width: 1200px;
  margin: 40px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--light-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  text-align: center;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

/* Header */

.header {
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.header_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  margin-top: -50px;
}

.head_nav {
  color: var(--basic-black);
  width: fit-content;
}

.head_nav:hover {
  color: var(--light-blue);
}

.head_nav:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.nav_logo {
  order: 1;
  position: relative;
}

/* Main */

.container {
  background-color: var(--basic-white);
}

.main_welcome {
  background-image: url(../img/backgroundimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 509px;
  display: grid;
  margin-top: -15px;
}

.main_welcome-container {
  width: max-content;
  height: 350px;
  margin: auto;
  top: 77px;
  bottom: 80px;
}

.main_heading {
  font-size: 100px;
  color: var(--basic-white);
}

.reasons {
  color: inherit;
}

.about_sedona-text {
  position: relative;
  align-items: center;
  width: 500px;
  height: 80px;
  margin-top: 42px;
  margin-bottom: 16px;
  left: 350px;
}

.about_sedona-text-reasons {
  position: relative;
  align-items: center;
  width: 550px;
  height: 26px;
  margin-bottom: 51px;
  left: 325px;
}

.reasons_list {
  list-style-type: none;
  background-color: inherit;
  margin-left: 0px;
  padding-left: 0px;
}

.reasons_item {
  font-size: inherit;
  line-height: 26px;
  font-weight: inherit;
}

.reasons_item-wide {
  color: var(--basic-white);
  background-color: var(--light-blue);
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 256px;
}

.reasons_blue {
  width: 400px;
}

.reasons_image {
  min-width: 800px;
}

.reasons_item-narrow {
  background-color: var(--basic-grey);
  width: 400px;
  height: 256px;
  margin: 0;
}

.reasons-tripple {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 256px;
  list-style-type: none;
  padding: 0px;
}

.reasons_item-text {
  width: 300px;
  margin: auto;
  margin-top: 23px;
  margin-bottom: 54px;
}

.reasons_heading {
  width: 180px;
  align-items: center;
  margin: auto;
  margin-top: 47px;
  margin-bottom: 25px;
}

.heading {
  font-size: 21px;
  line-height: inherit;
  color: inherit;
  font-weight: 700;
}

.house {
  width: min-content;
}

.burger {
  width: min-content;
}

.gift {
  width: min-content;
}

.heading.house::before {
  content: url(../img/house-icon.svg);
}

.heading.burger::before {
  content: url(../img/burger-icon.svg);
}

.heading.gift::before {
  content: url(../img/gift-icon.svg);
}

.reasons_sublist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  background-color: var(--basic-white);
  margin: 0px;
  padding: 0px;
  height: 300px;
}

.presearch_hotel {
  height: 291px;
}

.presearch_headding {
  width: 300px;
  height: fit-content;
  position: relative;
  left: 450px;
  margin-top: 58px;
  margin-bottom: 4px;
  justify-self: center;
}

.presearch_text {
  display: flex;
  align-items: center;
  width: 450px;
  height: 95px;
  margin-bottom: 24px;
  position: relative;
  left: 375px;
}

.button.search {
  background-color: var(--light-brown);
  text-align: center;
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  justify-self: center;
  margin-bottom: 0px;
}

.button.search:hover {
  background-color: var(--basic-brown);
}

.button.search:focus {
  background-color: var(--dark-bronw);
  color: var(--button-brown);
}

.map {
  margin-bottom: -120px;
}

/* Footer */

.footer {
  font-size: inherit;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  opacity: 0.9;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 120px;
}

.contacts {
  width: 200px;
  margin: auto;
  font-weight: 700;
}

.contacts_item {
  margin: 9px auto;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 6px auto;
}

.social_list {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 144px;
  margin: 6px;
  margin-top: 36px;
  margin-bottom: 36px;
  justify-self: center;
  align-items: center;
}

.social_button {
  display: inline-block;
  width: 46px;
  height: 48px;
  background: var(--light-blue);
}

.social_button_TW::before {
  display: inline-block;
  content: url(../img/twitter-icon.svg);
}

.social_button_TW:hover {
  background-color: var(--basic-blue);
}

.social_button_TW:focus::before {
  background-color: var(--dark-blue);
  opacity: 0.3;
}

.social_button_FB::before {
  display: inline-block;
  content: url(../img/fb-icon.svg);
}

.social_button_FB:hover {
  background-color: var(--basic-blue);
}

.social_button_FB:focus::before {
  background-color: var(--dark-blue);
  opacity: 0.3;
}

.social_button_YT::before {
  display: inline-block;
  content: url(../img/youtube-icon.svg);
}

.social_button_YT:hover {
  background-color: var(--basic-blue);
}

.social_button_YT:focus::before {
  background-color: var(--dark-blue);
  opacity: 0.3;
}

.copyright {
  width: 250px;
  margin: 0 auto;
  margin-right: 140px;
}

.html_logo::before {
  content: url(../img/logo-htmlacademy.svg);
}

.html_logo:hover::before {
  content: url(../img/logo-htmlacademy-hover.svg);
}

.html_logo:focus::before {
  content: url(../img/logo-htmlacademy-hover.svg);
  opacity: 0.3;
}

/* 
:hover — ссылка, на которую наведен курсор;
:active — активная ссылка (та, по которой совершается клик, или на которой удерживается кнопка мыши);
:link — ссылка, еще не посещенная пользователем;
:visited — посещенная ссылка. 
*/

/* Catalog */

.head_nav.disabled {
  color: var(--basic-brown);
}

/*Form*/

.hotel-search {
  background-image: url(../img/background_catalog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 217px;
}

.hotel-search_form {
  width: fit-content;
  height: auto;
}

.form_infrastructure {
  border: 0px;
}

.form_infrastructure-list {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

.form_hotel-type {
  border: 0px;
}

.form_hotel-type-list {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

.form_hotel-cost {
  border: 0px;
}

.form_button {
  color: var(--basic-white);
  font-size: inherit;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  width: 137px;
  height: 36px;
}

.form_button:hover {
  background-color: var(--basic-white);
  border-radius: inherit;
}

/*Hotels */

.search_result {}

.search_result-sort {
  font-size: 12px;
  line-height: 18px;
  margin: 0px;
  padding: 0px;
}

.sort {
  text-decoration: underline;
  color: var(--basic-black);
  opacity: 0.3;
  text-decoration-style: dashed;
  text-decoration-color: var(--light-blue);
}

.disabled {
  text-decoration: none;
  color: var(--light-blue);
}

.sort:hover {
  color: var(--light-blue);
  text-decoration: underline;
  text-decoration-style: dashed 1px;
}

.sort:focus {
  color: var(--basic-black);
}

.search_result-sort {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

.arrow_list {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

.arrow_up::before {
  content: url(../img/icon-up.svg);
}

.arrow_up:hover::before {
  content: url(../img/icon-up-hover.svg);
}

.arrow_up:focus::before {
  content: url(../img/icon-up-focus.svg);
}

.arrow_down::before {
  content: url(../img/icon-down.svg);
}

.arrow_down:hover::before {
  content: url(../img/icon-down-hover.svg);
}

.arrow_down:focus::before {
  content: url(../img/icon-down-focus.svg);
}

.hotel_list {
  text-align: 14px;
  line-height: inherit;
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

.hotel {
  color: var(--basic-black);
}

.hotel:hover {
  color: var(--light-blue);
}

.hotel:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.button {
  display: inline-block;
  vertical-align: middle;
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

.booking {
  background-color: var(--light-brown);
  width: 142px;
  height: 27px;
}

.booking:hover {
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

.booking:focus {
  background-color: var(--dark-bronw);
  color: var(--button-brown);
}

.more {
  font-size: inherit;
  line-height: inherit;
  background-color: var(--light-blue);
  width: 110px;
  height: 27px;
}

.more:hover {
  background-color: var(--basic-blue);
}

.more:focus {
  background-color: var(--dark-blue);
  color: var(--button-blue);
}

.star {
  list-style: none;
}

.star::before {
  content: url(../img/star.svg);
}

.rate {
  background-color: var(--light-grey);
  width: 110px;
  height: 27px;
  text-align: center;
}