:root {
  --light-blue: #81B3D2;
  --basic-blue: #669EC0;
  --dark-blue: #5496BD;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --light-brown: #766357;
  --basic-brown: #604E43;
  --dark-bronw: #503E33;
  --basic-grey: #EEEEEE;
  --light-grey: #F2F2F2;
  --light-black: #333333;
  --extra-gray: #A9A9A9;
  --basic-dark: #666666;
  --basic-neutral: #E5E5E5;
  --button-blue: #88b6d1;
  --button-brown: #857871;
}

/* Global */

.page {
  width: 1280px;
  height: 100%;
  background-color: var(--light-grey);
  margin: 0 auto;
}

body {
  width: 1200px;
  margin: 0px 40px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--light-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  text-align: center;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

/* Header */

.header {
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.main_nav {
  position: relative;
}

.nav_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav_item {}

.nav_item:nth-child(3) {
  grid-column-start: 4;
}

.head_nav {
  color: var(--basic-black);
  width: fit-content;
}

.head_nav:hover {
  color: var(--light-blue);
}

.head_nav:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.nav_logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

/* Main */

.container {
  background-color: var(--basic-white);
  margin: 0 auto;
}

.main_welcome {
  background-image: url(../img/backgroundimg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 509px;
}

.main_welcome-container {
  position: relative;
  width: max-content;
  height: 350px;
  margin: auto;
  top: 77px;
  bottom: 80px;
}

.main_heading {
  font-size: 100px;
  color: var(--basic-white);
}

.reasons {
  color: inherit;
}

.about_sedona-text {
  position: relative;
  width: 500px;
  height: 80px;
  left: 350px;
}

.about_sedona-text-reasons {
  position: relative;
  width: 550px;
  height: 26px;
  margin-bottom: 51px;
  left: 325px;
}

.reasons_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.reasons_item {
  font-size: inherit;
  line-height: 26px;
  font-weight: inherit;
}

.reasons_item-wide {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / 4;
}

.reasons_item-wide:first-child .reasons_image {
  grid-column: 2 / 4;
}

.reasons_item-wide:nth-child(2) .reasons_image {
  grid-column: 1 / 3;
}

.reasons_text {
  background-color: var(--light-blue);
  color: var(--basic-white);
}

.block-text {
  padding-top: 50px;
  padding-bottom: 50px;
}

.reasons_sublist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / 4;
}

.sublist_item {
  padding-top: 132px;
  padding-bottom: 80px;
}

.reasons_item-grey {
  background-color: var(--basic-grey);
}

.reasons_item-text {
  width: 300px;
  margin: auto;
}

.reasons_heading {
  width: 180px;
  margin: auto;
}

.house::before {
  content: url(../img/house-icon.svg);
  position: absolute;
  top: 1078px;
}

.food::before {
  content: url(../img/burger-icon.svg);
  position: absolute;
  top: 1078px;
  left: 911px;
}

.gifts::before {
  content: url(../img/gift-icon.svg);
  position: absolute;
  top: 1071px;
  left: 1318px;
}

.reasons_item-text-sublist {
  margin: auto;
  width: 300px;
}

.heading {
  font-size: 21px;
  line-height: inherit;
  color: inherit;
  font-weight: 700;
}

.presearch_heading {
  width: 300px;
  height: fit-content;
  position: relative;
  left: 450px;
  margin-top: 58px;
  margin-bottom: 4px;
  justify-self: center;
}

.presearch_text {
  display: flex;
  align-items: center;
  width: 450px;
  height: 95px;
  margin-bottom: 24px;
  position: relative;
  left: 375px;
}

.button.search {
  background-color: var(--light-brown);
  text-align: center;
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  justify-self: center;
  padding-bottom: 0px;
}

.button.search:hover {
  background-color: var(--basic-brown);
}

.button.search:focus {
  background-color: var(--dark-bronw);
  color: var(--button-brown);
}

.map {
  margin-bottom: -120px;
}

.heading-hidden {
  display: none;
}

/* Footer */

.footer {
  font-size: inherit;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  opacity: 0.9;
}

.footer {
  color: var(--basic-black);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 120px;
}

.contacts {
  font-size: 21px;
  width: max-content;
  margin: auto;
  font-weight: 700;
}

.contacts_item {
  margin: 9px auto;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 6px auto;
}

.social_list {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 144px;
  margin: 6px;
  margin-top: 36px;
  margin-bottom: 36px;
  justify-self: center;
  align-items: center;
}

.social_button {
  display: inline-block;
  width: 46px;
  height: 48px;
  background: var(--light-blue);
}

.social_button_TW::before {
  display: inline-block;
  content: url(../img/twitter-icon.svg);
}

.social_button_TW:hover {
  background-color: var(--basic-blue);
}

.social_button_TW:focus::before {
  background-color: var(--dark-blue);
  opacity: 0.3;
}

.social_button_FB::before {
  display: inline-block;
  content: url(../img/fb-icon.svg);
}

.social_button_FB:hover {
  background-color: var(--basic-blue);
}

.social_button_FB:focus::before {
  background-color: var(--dark-blue);
  opacity: 0.3;
}

.social_button_YT::before {
  display: inline-block;
  content: url(../img/youtube-icon.svg);
}

.social_button_YT:hover {
  background-color: var(--basic-blue);
}

.social_button_YT:focus::before {
  background-color: var(--dark-blue);
  opacity: 0.3;
}

.copyright {
  font-size: inherit;
  font-weight: inherit;
  width: 250px;
  margin: 0 auto;
  padding-right: 140px;
}

.html_logo::before {
  content: url(../img/logo-htmlacademy.svg);
}

.html_logo:hover::before {
  content: url(../img/logo-htmlacademy-hover.svg);
}

.html_logo:focus::before {
  content: url(../img/logo-htmlacademy-hover.svg);
  opacity: 0.3;
}

/* 
:hover — ссылка, на которую наведен курсор;
:active — активная ссылка (та, по которой совершается клик, или на которой удерживается кнопка мыши);
:link — ссылка, еще не посещенная пользователем;
:visited — посещенная ссылка. 
*/

/* Catalog */

.head_nav.disabled {
  color: var(--basic-brown);
}

/*Form*/

.hotel-search {
  background-image: url(../img/background_catalog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: var(--basic-white);
  text-align: left;
  width: 1200px;
  height: 217px;
}

.hotel-search_form {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  height: auto;
  padding: 26px 73px;
}

.form-item {
  border: 0px;
  line-height: 2;
}

.form-item:nth-child(3) {
  grid-column-start: 4;
}

.form-heading {
  font-size: 16px;
  font-weight: 700;
}

.form_button {
  background: none;
  color: var(--basic-white);
  font-size: inherit;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  width: 137px;
  height: 36px;
}

.form_button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/*Hotels */

.sort-block {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 30px 73px;
}

.sort-list {
  font-size: 12px;
  line-height: 18px;
  display: grid;
  grid-template-columns: 100px 300px;
}

.sort-heading {
  text-align: left;
  margin: 0px;
  font-weight: inherit;
  font-size: inherit;
}

.sort {
  text-decoration: underline;
  color: var(--basic-black);
  opacity: 0.3;
  text-decoration-style: dashed;
  text-decoration-color: var(--light-blue);
}

.disabled {
  text-decoration: none;
  color: var(--light-blue);
}

.sort:hover {
  color: var(--light-blue);
  text-decoration: underline;
  text-decoration-style: dashed;
}

.sort:focus {
  color: var(--basic-black);
}

.search_result-sort {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
}

.arrow_list {
  justify-self: end;
  text-align: end;
}

.arrow {
  display: inline;
}

.arrow_up::before {
  content: url(../img/icon-up.svg);
}

.arrow_up:hover::before {
  content: url(../img/icon-up-hover.svg);
}

.arrow_up:focus::before {
  content: url(../img/icon-up-focus.svg);
}

.arrow_down::before {
  content: url(../img/icon-down.svg);
}

.arrow_down:hover::before {
  content: url(../img/icon-down-hover.svg);
}

.arrow_down:focus::before {
  content: url(../img/icon-down-focus.svg);
}

.hotel_list {
  font-size: 14px;
  line-height: inherit;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.hotel_list-item {
  padding: 30px 73px;
  border-top: 1px solid var(--basic-neutral);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.hotel_list-item:last-child {
  border-bottom: 1px solid var(--basic-neutral);
}

.hotel-img {
  position: relative;
  top: 10px;
  justify-self: start;
}

.hotel-info {
  height: fit-content;
  text-align: left;
}

.info-item {
  padding: 0px;
  display: inline-block;
}

.rate-star {
  text-align: end;
  height: fit-content;
  justify-self: end;
}

.hotel {
  margin: 0px;
  color: var(--basic-black);
}

.hotel:hover {
  color: var(--light-blue);
}

.hotel:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.button {
  display: inline-block;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

.booking {
  background-color: var(--light-brown);
  width: 142px;
  height: 27px;
}

.booking:hover {
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

.booking:focus {
  background-color: var(--dark-bronw);
  color: var(--button-brown);
}

.more {
  font-size: inherit;
  line-height: inherit;
  background-color: var(--light-blue);
  width: 110px;
  height: 27px;
}

.more:hover {
  background-color: var(--basic-blue);
}

.more:focus {
  background-color: var(--dark-blue);
  color: var(--button-blue);
}

.star {
  display: inline-block;
}

.star::before {
  content: url(../img/star.svg);
}

.rate {
  margin-top: 55px;
  margin-bottom: 0px;
  background-color: var(--light-grey);
  width: 110px;
  height: 27px;
  text-align: center;
}